body.dark-mode .align,
body.dark-mode .align p {
  background-color: black;
  border: 2px solid white;
  color: white;
}

body.light-mode .align p {

  background-color: white;
  color: black;
}


body {
    background-color: #0D6EFD;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
}

main h1 {
    padding-top: 10px;
    font-weight: 50;
}

.main-align {
  display: flex;
  flex-wrap: wrap;
    margin: 10px;
}

.align {
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.align p {
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    width: 150px;
    padding: 15px 15px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    border-radius: 20px;
    transition: background-color 1s ease;
}

body .align p:hover {
    color: white;
    background-color: rgb(48, 232, 85);
}
button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #ffffff;
  color: #0066ff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e0e0e0;
}